
.container-footer{
    padding: 2vh;
    box-shadow: 0px 0px 4px #530279;
    overflow-x: hidden;
}
.footer{
    width: 100%;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}
.footer p{
    margin:0;
}
.footer a img{
    transform: rotate(180deg);
}
.footer a:hover{
    box-shadow: 0 0 5px #530279;
}
.img-container p{
    padding: 5px;
}