* {
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'IBM Plex Sans Arabic', sans-serif; */
    font-family: 'Lato', sans-serif;

}
@media (max-width: 374px) {
  *{
    width: 100%;
  }
}
@media (max-width: 550px) {
  .in-img {
      height: 30px !important; 
      width: 30px !important; 
      margin-bottom: 30px;
  }
  .h-adj{
      height: 40px !important; 
      width: 30px !important; 
      margin-bottom: 19px;
  }
}

.font-size-lg {
  @media (min-width: 768px) {
      font-size: 70px;
  }
  @media (max-width: 768px) {
      font-size: 50px;
  }
}
.font-size-md {
  @media (min-width: 768px) {
      font-size: 30px;
  }
  @media (max-width: 768px) {
      font-size: 25px;
  }
  @media (max-width: 550px) {
    font-size: 21px;
}
}
.font-size-sm {
  @media (min-width: 768px) {
      font-size: 16px;
  }
  @media (max-width: 768px) {
      font-size: 13px;
  }
}
.font-size-xs {
  @media (min-width: 768px) {
      font-size: 20px;
  }
  @media (max-width: 550px) {
      font-size: 9px;
  }
}
.font-bold{
  font-weight: 700;
}
.font-light{
  font-weight: 400;
}
.main-line{
  display:flex;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
