* {
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'IBM Plex Sans Arabic', sans-serif; */
  font-family: 'Lato', sans-serif;


}
.font-bold{
  font-weight: 700;
}
.font-light{
  font-weight: 400;
}
.main-line{
  display:flex;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
